# Reasonable settings for the MM712 with a 10 minute sleep
# ATTR{power/autosuspend}="600"
delayACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2516", ATTR{idProduct}=="01b7", ATTR{power/control}="auto", ATTR{power/persist}="0", ATTR{power/wakeup}="disabled"
